APP_ENV=local
APP_PORT=8080
APP_NAME=multi-tennet

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=multi_tennet
DB_SSLMODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379 
REDIS_PASSWORD=redispass

JWT_SECRET=change-me
BASE_URL=http://localhost:8080

ORACLE_REGION=sa-saopaulo-1
ORACLE_NAMESPACE=SEU_NAMESPACE_AQUI
ORACLE_BUCKET_NAME=stores-imagens
ORACLE_ACCESS_KEY_ID=SEU_ACCESS_KEY
ORACLE_SECRET_ACCESS_KEY=SEU_SECRET_KEY
ORACLE_S3_ENDPOINT=https://SEU_NAMESPACE.compat.objectstorage.sa-saopaulo-1.oraclecloud.com
ORACLE_PUBLIC_BASE_URL=
MAX_FILE_SIZE=5242880

